<!--User List Grid which shows all the users-->
<div id="mat-table-inner" style="overflow-y: scroll !important" [style.height.px]="matTableInner" (window:resize)="onResize($event)">
    <mat-table class="user-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar (window:resize)="onResize($event)">
        <!-- Avatar Column -->
        <ng-container cdkColumnDef="imgurl">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm></mat-header-cell>
            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
                <img class="avatar" *ngIf="contact.imgurl" [alt]="contact.name" [src]="contact.imgurl" />
            </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *cdkCellDef="let contact">
                <p class="text-truncate" matTooltip="{{contact.name}}">{{contact.name}}</p>
            </mat-cell>
        </ng-container>
        <!-- Email Column -->
        <ng-container cdkColumnDef="email">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *cdkCellDef="let contact">
                <p class="email text-truncate" matTooltip="{{contact.email}}"> {{contact.email}} </p>
            </mat-cell>
        </ng-container>
        <!-- Role Column -->
        <ng-container cdkColumnDef="rolename">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Role</mat-header-cell>
            <mat-cell *cdkCellDef="let contact">
                <p class="email text-truncate" matTooltip="{{contact.rolename}}"> {{contact.rolename}} </p>
            </mat-cell>
        </ng-container>
        <!-- Phone Column -->
        <ng-container cdkColumnDef="workphone">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Work Phone</mat-header-cell>
            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                <p class="phone text-truncate"> {{contact.workphone}} </p>
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="mobile">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Mobile</mat-header-cell>
            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                <p class="phone text-truncate"> {{contact.mobile}} </p>
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="homephone">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Home Phone</mat-header-cell>
            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                <p class="phone text-truncate"> {{contact.homephone}} </p>
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="location">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Location</mat-header-cell>
            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                <p class="job-title text-truncate"> {{contact.location}} </p>
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="status">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Status</mat-header-cell>
            <mat-cell class="grid-cell-text-center" *cdkCellDef="let contact" fxHide fxShow.gt-md>
                <mat-icon *ngIf="contact.status == 1" class="mat-green-600-bg s-16">check</mat-icon>
                <mat-icon *ngIf="contact.status == 0" class="mat-red-500-bg s-16">close</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let contact; columns: displayedColumns;" class="contact" (click)="editContact(contact)" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>

<ng-container *ngIf="dataSource.filteredData.length==0">
    <p style="color:red;" class="font-weight-900 text-center">No records found</p>
</ng-container>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
