<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="#" target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <span>© </span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button href="#" target="_top">Mail us : support@test.com </a>
            <label>Toll Free (000)0000-000</label>
        </div>

    </div>

</mat-toolbar>
