@import "src/app/core/scss/fuse";

.custom_userrpt_list
{
  .c-btn
  {
  
  border-top : none !important;
  border-left : none !important;
  border-right: none !important;
  padding :3px !important;
  box-shadow:0px 0px 0px #ffffff !important;
  }
  
  .c-btn span
  {
      color : rgba(0, 0, 0, 0.54);
      font-size : 16px;
  }
}

.mat-expansion-panel-header_rpt1
{
    padding : 0 24px !important;
}
.mat-expansion-panel-body
{
    padding : 0 24px;
}
.text-boxed-green
{
    background-color:green !important;
    font-size :14px !important;
    color : white !important;
}

.text-boxed-red
{
    background-color:red !important;
    font-size :14px !important;
    color : white !important;
}

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);

       #mat-table-inner{
            overflow-y: scroll !important;
            height: 400px !important;
       }
        
       .mat-header-row {
            
        }
        
        .mat-row-total
        {
            background-color: lightgray !important;
            font-weight: bold;
        }

        .mat-header-cell
        {
            font-weight: bold !important;
            font-size : 15px !important;
            justify-content : center !important;
            padding-right: 10px;
            padding-left: 5px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            padding-right: 10px;
            padding-left: 5px;
        }

        .mat-column-ur_username {
            flex: 0 1 18%;
        }
       .mat-column-ur_jobcode {
            flex: 0 1 9%;
        }

        .mat-column-ur_title {
            flex: 0 1 30%;
        }
        
        .mat-column-ur_job {
            flex: 0 1 25%;
        }
        .mat-column-ur_location {
            flex: 0 1 14%;
            font-size:small;
        }
        .mat-column-ur_clientname {
            flex: 0 1 9%;
            font-size:small;
        }
        
        .mat-column-ur_publisheddate, .mat-column-ur_assigneddate {
            flex: 0 1 12%;
            font-size:small;
        }
        .mat-column-ur_fromdate, .mat-column-ur_todate {
            flex: 0 1 20%;
        }
        
        .mat-column-ur_jobstarted {
            flex: 0 1 5%;
        }
        .mat-column-ur_comment {
            flex: 0 1 15%;
            font-size:small;
        }        
       
        .mat-column-ur_duration, .mat-column-ur_submission
        {
            flex: 0 1 9%;
            justify-content : center !important;
            display: flex !important;
            font-size:small;
        }
       .active-icon {
            border-radius: 50%;
        }       
    }
