<div class="page-layout simple fullwidth  mat-white-50-bg" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="center center">
        <h2>Order Confirmation</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

            <form fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="formConfirm" [formGroup]="formConfirm">

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Requested Delivery Date</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.deliverydate | date:'MM-dd-yyyy' }} to {{this.order.deliveryenddate | date:'MM-dd-yyyy' }}</label>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Required Gallons</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.gallons}}</label>
                        </div>
                     </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Site Name</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.site}}</label>
                        </div>
                     </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Requester’s Email</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.email}}</label>
                        </div>
                     </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Requester’s ATTUID</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.attuid}}</label>
                        </div>
                     </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Requester’s Name</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.name}}</label>
                        </div>
                     </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="50">
                            <label>Requester’s Phone Number</label>
                        </div>
                        <div fxFlex="50">
                            <label class="font-weight-900">: {{this.order.phone}}</label>
                        </div>
                    </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto" class="button-row">
                <a mat-raised-button color="primary" class="mx-8" (click)="goBack();"  >Return to Form</a>
                <a mat-raised-button color="accent" class="mx-8" (click)="goSubmit();"  >Submit</a>
                <!--<button mat-raised-button color="primary">Submit and Print</button>-->
            </div>
            
            <blockquote>
                <p>
                    “Thank you for using the PS Energy automated ordering system. Once you submit an order you should receive an automatic email response within 15 minutes. If you do not receive this response please contact our customer service department. Lack of email response could be an indication of a failure."
                </p>
            </blockquote>
            </form>
    </div>
    <!-- / CONTENT -->

</div>
