<div class="page-layout simple fullwidth  mat-white-50-bg" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="center center">
        <h2>Online Delivery Request Form</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

            <form fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

                <div class="h2 mb-16">Order Entry Details</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput 
                                ngui-auto-complete 
                                formControlName="cllicode" 
                                [source]="observableSource.bind(this)" 
                                autocomplete="off"
                                [list-formatter]="autocompleListFormatter" 
                                [value-formatter]="autocompleListSelected"
                                value-property-name="CLLI"
                                display-property-name="CLLI"
                                placeholder="CLLI Code" 
                                #cllicode
                                required>
                        <mat-error *ngIf="formErrors.cllicode.required">
                            
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Current Date and Time" formControlName="currentdate" #currentdate required readonly >
                    </mat-form-field>

                </div>
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput [min]="minDeliveryDate" [max]="maxDeliveryDate" (dateChange)="selectedDeliveryDate('change', $event)" [matDatepicker]="deliverydate" formControlName="deliverydate" placeholder="Deliver from Date" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="deliverydate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" [startAt] ="startAt" #deliverydate disabled="false"></mat-datepicker>
                        <mat-error *ngIf="form.controls['deliverydate'].hasError('required')">
                            
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput [min]="minDeliveryEndDate" [max]="maxDeliveryEndDate" (dateChange)="selectedDeliveryEndDate('change', $event)" [matDatepicker]="deliveryenddate" formControlName="deliveryenddate" placeholder="Deliver to Date" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="deliveryenddate"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true"  [startAt] ="startAt" #deliveryenddate disabled="false" ></mat-datepicker>
                         <mat-error *ngIf="form.controls['deliveryenddate'].hasError('required')">
                            
                        </mat-error>
                    </mat-form-field>
                    

                </div>

                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput ngui-datetime-picker formControlName="deliverytime" placeholder= "Delivery Start Time" (valueChanged)="startTimeSelected($event);" time-only="true" required readonly>
                        <mat-error *ngIf="formErrors.deliverytime.required" ></mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput ngui-datetime-picker formControlName="deliveryendtime" placeholder= "Delivery End Time" (valueChanged)="endTimeSelected($event);" time-only="true" required readonly>
                        <mat-error *ngIf="formErrors.deliveryendtime.required" ></mat-error>
                    </mat-form-field>
                    

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input type="number" matInput placeholder="Tank Size" formControlName="tanksize" #tanksize step="1" min="1" max="99999999" required>
                        <mat-error *ngIf="formErrors.tanksize.required">
                            
                        </mat-error>
                         <mat-error *ngIf="formErrors.tanksize.min || formErrors.tanksize.max">
                            Please enter valid Tank Size
                        </mat-error>
                         <mat-error *ngIf="!formErrors.tanksize.required && formErrors.tanksize.tankSizeCheck">
                            Tank Size should be greater than Required Gallons
                        </mat-error>
                    </mat-form-field>
                </div>
                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input type="number" matInput placeholder="Required Gallons" formControlName="gallons" #gallons step="1" min="1" max="99999999" required>
                        <mat-error *ngIf="formErrors.gallons.required">
                            
                        </mat-error>
                         <mat-error *ngIf="formErrors.gallons.min || formErrors.gallons.max">
                            Please enter valid Gallons
                        </mat-error>
                        <!--<mat-error *ngIf="form.controls['gallons'].hasError('CheckSize')">
                            Please enter Gallons value less than Tank Size
                        </mat-error>-->
                        <mat-error *ngIf="formErrors.gallons.gallonSizeCheck">
                            Required Gallons should be less than Tank Size
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Required Product" formControlName="product" required>
                                <mat-option value="Dyed Diesel(ULS <15ppm)">Dyed Diesel(ULS <15ppm)</mat-option>
                                <mat-option value="Dyed Diesel With Additive(ULS <15ppm)">Dyed Diesel With Additive(ULS <15ppm)</mat-option>
                                <mat-option value="Diesel Exhaust Fluid – DEF">Diesel Exhaust Fluid – DEF</mat-option>
                                <mat-option value="E85">E85</mat-option>
                                <mat-option value="Jet Fuel">Jet Fuel</mat-option>
                                <mat-option value="Av-Gas">Av-Gas</mat-option>
                                <mat-option value="Gasoline">Gasoline</mat-option>
                                <mat-option value="Kerosene(ULS <15ppm)">Kerosene(ULS <15ppm)</mat-option>
                                <mat-option value="Propane">Propane</mat-option>
				                <mat-option value="Winter Additive">Winter Additive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput [textMask] = "{mask : maskPhone}" placeholder="Requester Phone Number" formControlName="phone" required pattern="\(\d{3}\) \d{3}-\d{4}">
                        <mat-error *ngIf="formErrors.phone.required">
                            
                        </mat-error>
                        <mat-error *ngIf="formErrors.phone.pattern">
                            Please enter the Valid Phone Number
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput maxlength="6" placeholder="Requester ATTUID" formControlName="attuid" #attuid (keyup)="bindRequesterEmail($event)" required>
                        <mat-error *ngIf="formErrors.attuid.required">
                            
                        </mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Requester Name" formControlName="name" required>
                        <mat-error *ngIf="formErrors.name.required">
                            
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Requester Email Address" formControlName="email" #email required>
                         <mat-error *ngIf="formErrors.email.pattern">
                            Please enter the valid email address
                        </mat-error>
                        <mat-error *ngIf="formErrors.email.required">
                            
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput [textMask]="{ mask : maskPhone }" placeholder="Site Contact Phone Number" formControlName="sitecontactphone" #sitecontactphone required pattern="\(\d{3}\) \d{3}-\d{4}">
                        <mat-error *ngIf="form.controls['sitecontactphone'].hasError('required')">
                            
                        </mat-error>
                        <mat-error *ngIf="formErrors.sitecontactphone.pattern">
                            Please enter the Valid Phone Number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-16" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                     <mat-form-field hintLabel="(The person that will meet the truck.)" fxFlex="50">
                        <input matInput placeholder="Site Contact Name" formControlName="sitecontactname" required>
                        <mat-error *ngIf="formErrors.sitecontactname.required">
                            
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Site Contact Email Address" formControlName="sitecontactemail" required>
                        <mat-error *ngIf="formErrors.sitecontactemail.required">
                            
                        </mat-error>
                         <mat-error *ngIf="formErrors.sitecontactemail.pattern">
                            Please enter the valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-form-field fxFlex="50">
                        <mat-select placeholder="Number of tanks to be filled?" formControlName="noofgenerators">
                                <mat-option *ngFor="let tankNo of tankNumbers" value="{{tankNo}}">{{tankNo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                     <mat-form-field fxFlex="50">
                        <mat-select placeholder="Reason For Refueling" formControlName="reason">
                                <mat-option value="normal/seasonal refueling operations (to 96 hours)">Normal/seasonal Refueling Operations (to 96 hours)</mat-option>
                                <mat-option value="impending storm threat (as directed)">Impending Storm Threat (as directed)</mat-option>
                                <mat-option value="Infrastructure Maintenance">Infrastructure Maintenance</mat-option>
                                <mat-option value="commercial/storm power outage">Commercial/Storm Power Outage</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="100">
                            <label class="h5">Is the delivery site accessible by full-size 18-wheeler? </label>
                            <mat-radio-group formControlName="reposition">
                                <mat-radio-button class="h5" value="Yes">Yes</mat-radio-button>
                                <mat-radio-button class="h5" value="No" checked="true">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        
                 </div>
                 <div class="mt-16" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="100">
                            <label class="h5">Tank Storage Type</label>
                            <mat-radio-group formControlName="groundlevel">
                                <mat-radio-button class="h5" value="AST" checked="true">Above Ground Storage</mat-radio-button>
                                <mat-radio-button class="h5" value="UST">Under Ground Storage</mat-radio-button>
                            </mat-radio-group>
                        </div>
                       
                 </div>
                 <div class="mt-16" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                      <div fxFlex="100">
                            <label class="h5">Are There Special Instructions?</label>
                            <mat-radio-group formControlName="chkspl" #chkspl>
                                <mat-radio-button class="h5" value = "Yes">Yes</mat-radio-button>
                                <mat-radio-button class="h5" value = "No" checked="true">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                </div>
                
                <div class="mt-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="form.controls['chkspl'].value == 'Yes'">
                    <mat-form-field fxFlex="100">
                        <textarea matInput maxlength="50" placeholder="Special Instructions" formControlName="splInstruction" #splInstruction></textarea>
                        <mat-hint align="end">{{splInstruction.value.length || 0}}/50</mat-hint>
                    </mat-form-field>
                </div>
            <div class="mt-16" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" >
                 <div class="h2 mb-16">Site Details</div>
                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-form-field fxFlex="50">
                        <input matInput placeholder="Site Name" formControlName="site" required>
                        <mat-error *ngIf="formErrors.site.required">
                            
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-form-field fxFlex="50">
                        <input matInput placeholder="GLC Code" formControlName="gocode">
                        <mat-error *ngIf="formErrors.gocode.required">
                            
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="County" formControlName="county" required>
                        <mat-error *ngIf="formErrors.county.required">
                            
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-form-field fxFlex="50">
                        <input matInput placeholder="Address" formControlName="address" required>
                        <mat-error *ngIf="formErrors.address.required">
                            
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="City" formControlName="city" required>
                        <mat-error *ngIf="formErrors.city.required">
                            
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-form-field fxFlex="50">
                        <input matInput placeholder="State" formControlName="state" required>
                        <mat-error *ngIf="formErrors.state.required">
                            
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input type="number" matInput placeholder="ZIP" formControlName="zip" #zip required pattern="[0-9]{5}">
                        <mat-error *ngIf="formErrors.zip.required">
                            
                        </mat-error>
                        <mat-error *ngIf="formErrors.zip.pattern">
                            Please enter Valid Zip Code
                        </mat-error>
                        <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto" class="button-row">
                <a mat-raised-button color="primary" class="mx-8" (click)="clearForm();">Clear</a>
                <a mat-raised-button color="accent" class="mx-8" [disabled]="!form.valid" (click)="saveOrder();">Submit</a>
            </div>
            
            <blockquote>
                <p>
                    “Thank you for using the PS Energy automated ordering system. Once you submit an order you should receive an automatic email response within 15 minutes. If you do not receive this response please contact our customer service department. Lack of email response could be an indication of a failure."
                </p>
            </blockquote>
            </form>
    </div>
    <!-- / CONTENT -->

</div>
