<!-- User Home page -->
<div id="users" class="page-layout carded fullwidth">
    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">people</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
            </div>
            <div class="h2 mt-4">
                <button mat-mini-fab class="mat-red-100-bg" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"  matTooltip="Refresh" (click)="getUserList()">
                    <mat-icon class="mat-20" aria-label="Refresh">refresh</mat-icon>
                </button>
                 <button mat-mini-fab class="mat-red-100-bg" id="add-user-button" (click)="assignUser()" aria-label="add contact" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" matTooltip="Add User">
                    <mat-icon class="mat-20">person_add</mat-icon>
                </button>
                <button mat-mini-fab class="mat-red-100-bg" (click)="manageAbsentees()" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"  matTooltip="Manage Absentees">
                    <mat-icon class="mat-20">how_to_reg</mat-icon>
                </button>
            </div>
        </div>
        <!-- / APP TITLE -->
        <!-- SEARCH -->
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0 font-weight-900" floatPlaceholder="never">
                <input matInput #filter [formControl]="searchInput" id="search" placeholder="Search">
            </mat-form-field>
        </div>
    </div>
    <!-- / HEADER -->    
    <!-- CENTER -->
    <div class="center p-0 pb-56 pr-sm-0">
        <!-- CONTENT -->
        <div class="content mat-white-bg mat-elevation-z4">
            <users-list></users-list>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>
