<div class="page-layout simple fullwidth  mat-white-50-bg" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

         <button class="mr-16" mat-icon-button [routerLink]="'/jobs'">
                    <mat-icon>arrow_back</mat-icon>
         </button>

        <h2>Jobs Management</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        
    

    <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16">attach_money</mat-icon>
                                    <div class="h2 secondary-text">Job Detials</div>
                                </div>

                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>User Name</th>
                                            <th>Priority</th>
                                            <th>Description</th>
                                            <th>Expiry Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-truncate">
                                                    test
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                   test
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                   teste
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    eaet
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    eaet
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
        </div>
        <div class="section pb-48">

                                <!--<div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16">access_time</mat-icon>
                                    <div class="h2 secondary-text">Job Status</div>
                                </div>

                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Updated On</th>
                                            <th>Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let status of order.status">
                                            <td>
                                                <span class="status h6 p-4" [ngClass]="status.color">
                                                    {{status.name}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{status.date | date}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <form class="update-status p-24"
                                      (ngSubmit)="updateStatus()"
                                      [formGroup]="statusForm"
                                      fxLayout="row" fxLayoutAlign="start center">

                                    <mat-form-field class="mr-16" fxFlex>
                                        <mat-select formControlName="newStatus"
                                                    placeholder="Select a status" required>
                                            <mat-option *ngFor="let status of orderStatuses"
                                                        [value]="status.id">
                                                {{status.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button mat-raised-button class="mat-accent"
                                            [disabled]="statusForm.invalid">
                                        Update Status
                                    </button>
                                </form>-->

        </div>
</div>
<!-- / CONTENT -->

</div>
