@import "src/app/core/scss/fuse";

.mat-expansion-panel-header_rpt1
{
    padding : 0 24px !important;
}
.mat-expansion-panel-body
{
    padding : 0 24px;
}
.text-boxed-green
{
    background-color:green !important;
    font-size :14px !important;
    color : white !important;
}

.text-boxed-red
{
    background-color:red !important;
    font-size :14px !important;
    color : white !important;
}

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);

       .mat-header-row {
            
        }

        .mat-header-cell
        {
            font-weight: bold !important;
            font-size : 15px !important;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
        }

       .mat-column-r_ReferenceId {
            flex: 0 1 10%;
        }

        .mat-column-r_Title {
            flex: 0 1 25%;
        }
        .mat-column-r_Location {
            flex: 0 1 15%;
        }
        
        .mat-column-r_PublishedDate {
            flex: 0 1 15%;
        }
        
        .mat-column-r_IsActive {
            flex: 0 1 5%;
        }
        .mat-column-r_UserCount {
            flex: 0 1 10%;
            justify-content : center !important;
            display: flex !important;
        }
        .mat-column-r_Duration, .mat-column-r_Submission
        {
            flex: 0 1 10%;
            justify-content : center !important;
            display: flex !important;
        }
        .mat-column-r_Users {
            flex: 0 1 15%;
        }
        
        .mat-column-jl_buttons {
            flex: 0 1 40px;
        }


       
    }
