<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

                <!-- HEADER -->
            <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
                fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Dashboard</span>
                    </div>

                </div>
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group dynamicHeight>

                    <mat-tab label="Home">

                        <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom [@animateStagger]="{value:'50'}">

                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-form-field>
                                            <mat-select class="simplified font-size-16" [(ngModel)]="widgets.widget1.currentRange"
                                                        aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget1.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{widgets.widget1.data.count[widgets.widget1.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget1.data.label}}</div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">{{widgets.widget1.data.extra.label}}:</span>
                                        <span class="h4 ml-8">{{widgets.widget1.data.extra.count[widgets.widget1.currentRange]}}</span>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget1.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 2 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget2.title}}</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="red-fg font-size-72 line-height-72">
                                            {{widgets.widget2.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget2.data.label}}</div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">{{widgets.widget2.data.extra.label}}:</span>
                                        <span class="h4 ml-8">{{widgets.widget2.data.extra.count}}</span>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget2.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 2 -->

                            <!-- WIDGET 3 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget3.title}}</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="orange-fg font-size-72 line-height-72">
                                            {{widgets.widget3.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget3.data.label}}</div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">{{widgets.widget3.data.extra.label}}:</span>
                                        <span class="h4 ml-8">{{widgets.widget3.data.extra.count}}</span>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget3.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 3 -->

                            <!-- WIDGET 4 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget4.title}}</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="blue-grey-fg font-size-72 line-height-72">{{widgets.widget4.data.count}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget4.data.label}}</div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">{{widgets.widget4.data.extra.label}}:</span>
                                        <span class="h4 ml-8">{{widgets.widget4.data.extra.count}}</span>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget4.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 4 -->
                        </div>
                        <!-- / WIDGET GROUP -->


                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
    </mat-sidenav-container>

</div>
